.profile__info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0;
  width: 583px;
}

@media screen and (max-width: 1279px) {
  .profile__info {
    padding: 0;
    margin-top: 25px;
    margin-bottom: 33px;
    width: auto;
    align-items: center;
  }
}
