.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 41px;
  margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .profile {
    flex-direction: column;
    margin-top: 42px;
  }
}
