.button__add {
  background: none;
  box-sizing: border-box;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  height: 50px;
  width: 150px;
  border: 2px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  transition: 0.7s opacity;
}

.button__add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1279px) {
  .button__add {
    width: 282px;
    height: 48px;
  }
}
