.profile__name {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 90%;

}

@media screen and (max-width: 1279px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    max-width: 189px;
  }
}
