.form__submit {
  box-sizing: border-box;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  margin: 18px 0 0;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  background: #000000 none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.7s opacity;
}

.form__submit:hover{
  opacity: 0.8;
}

.form__submit:disabled {
  cursor: not-allowed;
  background: #FFFFFF;
  color: #E5E5E5;
  border-color: #E5E5E5;
}


@media screen and (max-width: 1279px) {
  .form__submit {
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
  }
}
