.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .card__image {
    width: 100%;
    height: 100%;
  }
}
