@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page/page.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__image/profile__image.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__conteiner/profile__conteiner.css");
@import url("../blocks/profile/__edit/profile__edit.css");
@import url("../blocks/profile/__name/profile__name.css");
@import url("../blocks/profile/__subtitle/profile__subtitle.css");
@import url("../blocks/profile/__add/profile__add.css");
@import url("../blocks/profile/__imageadd/profile__imageadd.css");
@import url("../blocks/photo-grid/photo-grid.css");
@import url("../blocks/photo-grid/__cards/photo-grid__cards.css");
@import url("../blocks/card/card.css");
@import url("../blocks/card/__image/card__image.css");
@import url("../blocks/card/__info/card__info.css");
@import url("../blocks/card/__title/card__title.css");
@import url("../blocks/card/__like/card__like.css");
@import url("../blocks/card/__like/_active/card__like_active.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__info/footer__info.css");
@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/_active/popup_active.css");
@import url("../blocks/popup/__content/popup__content.css");
@import url("../blocks/popup/__close/popup__close.css");
@import url("../blocks/form/form.css");
@import url("../blocks/popup/__title/popup__title.css");
@import url("../blocks/form/__field/form__field.css");
@import url("../blocks/input/input.css");
@import url("../blocks/form/__submit/form__submit.css");

