.modal__caption {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  display: flex;
  text-align: left;
}
