.card__delete {
  position: absolute;
  width: 18px;
  height: 19px;
  right: 15px;
  top: 18px;
  box-shadow: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-image: url('../../../images/delete.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.7s opacity;
}

.card__delete:hover {
  opacity: 0.6;
}
