.popup__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
  padding: 0;
  margin: 0 0 30px;
}

@media screen and (max-width: 1279px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 57px;
    min-width: 238px;
    text-align: center;
  }
}
