.button {
    background: none;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.7s opacity;
}

.button:hover {
    opacity: 0.8;
}
